*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif;
}

.container{
    background-color: rgb(255, 255, 255);
    height: 100dvh;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 40px 20px;
    border-bottom: 2px solid rgba(243, 243, 243, 0.5);

        .logo {
    color: #2EC4E6;
    display: flex;
    align-items: center;


    img {
            background-color: #2EC4E6;
            color: white;
            margin-right: 10px;
            width: 40px;
            padding: 10px;
            border-radius: 10px;
        }

     p {
        font-size: 28px;
        color: #2EC4E6;
        font-weight: 700;        
    }
}


    nav{
        justify-self: center;
        
        ul{
            display: flex;
            list-style-type: none;

            a{
                text-decoration: 0;
                padding: 10px;
                color: black;
            }

            a:hover{
                color:  #2EC4E6;
            }
            .home{
                color:  #2EC4E6;
            }
        }
    }

    div{
        display: flex;
        align-items: center;
        position: relative;

        .fa-search{
            position: absolute;
            left: -10px;
        }

        i{
            padding: 0 20px;
        }

         input {
            height: 40px;
            border-radius: 5px;
            width: 30dvw;
            padding-left: 30px;
            border: 1px solid rgb(228, 226, 226);
        }
        
        /* a{
            text-decoration: none;

            img{
            width: 45px;
            border-radius: 50%;
            
            }

            .bell{
                width: 20px;
                margin: 0 25px;
            }
        } */
    }
}


.wholebody{
    display: flex;
}
.leftside-nav{
    width: 20%;
    border: 2px solid rgba(228, 226, 226, 0.562);

    ul{
        .analytics{
            background-color:  rgb(228, 226, 226);
            color: black;
        }

        a{
                text-decoration: none;

                li{
                    border-radius: 5px;
                padding: 10px 10px;
                margin: 0 5px;
                text-decoration: none;
                color: #666;
                display: flex;
                align-items: center;
                gap: 12px;

                    img{
                        width: 30px;
                        padding-right: 5px;
                    }
                }
                li:hover{
                    background-color:  rgba(228, 226, 226, 0.5);
                    color: black;
                }
                
        }
    }
}
.content-area{
    width: 80%;
    padding: none;
    margin: 20px;

    p{
        color: grey;
        padding: 5px 0;
    }

    h2{
        padding: 20px 0;
    }
}


.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    div{
        border: 1px solid rgb(243, 243, 243);
        border-radius: 10px;
        padding: 20px;

        p{
            display: flex;
            align-items: center;
            font-size: 14px;

            img{
                width: 18px;
                margin-right: 10px;
            }

            i{
                font-size: 8px;
                padding-right: 10px;
            }
        }

        h3{
            font-size: 35px;
            padding: 5px 0;
        }

        .green{
            font-size: 14px;
            color: rgb(113, 184, 113);
        }
        .red{
            font-size: 14px;
            color: rgb(214, 63, 63);
        }
    }

    img{
        width: 28px;
    }
}
.grid-container2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2dvw;  

    div{
        border: 1px solid rgb(243, 243, 243);
    }

    
    .chart-card {
    background: #fff;
    border-radius: 10px;
    padding: 20px;

    h3 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
    }

   canvas {
   width: 100% !important;
   height: 250px !important;
   }
   }


   .engagement-container {
  background: #fff;
  border-radius: 10px;
  padding: 20px;

  .engagement-title {
  margin-bottom: 15px;
  font-size: 16px;
  color: #333;
}

#engagementChart {
  width: 100% !important;
  height: 250px !important;
}
}



}


.grid-container3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2dvw; 
        div{
        border: 1px solid rgb(243, 243, 243);
        border-radius: 10px;
        padding: 20px;
        padding-bottom: 2.5dvw;

        h4{
            margin-bottom: 10px;
        }

        p{
            font-size: 13px;
        }
        i{
            font-size: 13px;
        }
        .fa-thumbs-up, .fa-share-nodes{
            margin-left: 5px;
        }
        .btn1{
            padding: 10px;
            border-radius: 7px;
            background-color: white;
            border: 1px solid rgb(224, 224, 224);
            margin: 10px 0;
            margin-right: 3px;
        }
        .btn2{
            padding: 10px;
            border-radius: 7px;
            background-color: #2EC4E6;
            color: white;
        }
    }
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 10px 10dvw;

    ul{
        display: flex;
        list-style-type: none;
        
        a{
            text-decoration: none;
            color: black;
            padding: 10px;

            img{
                width: 20px;
            }
        }

    }
}
