* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
}
body {
    background-color: #f7f7fa;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    padding: 20px;
}
.container {
    width: 100%;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    font-size: 28px;
    font-weight: 700;
    color: #2EC4E6;
    margin-bottom: 48px;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 50px;


    img {
            background-color: #2EC4E6;
            color: white;
            margin-right: 10px;
            width: 40px;
            padding: 10px;
            border-radius: 10px;
        }

     p {
        font-size: 28px;
        color: #2EC4E6;
        font-weight: 700;
        display: flex;
        align-self: center;

        
    }
}
.forgot-card {
    background: white;
    padding: 40px 32px;
    border-radius: 16px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    width: 100%;
    text-align: center;
}
h1 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 12px;
    color: #020202;
    text-align: left;
    
}
.description {
    font-size: 11px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 32px;
    text-align: left;
}
form label {
    display: block;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    color: #444;
    margin-bottom: 8px;
}
form input {
    width: 100%;
    padding: 14px 16px;
    margin-bottom: 24px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
    transition: all 0.2s;
}
form input:focus {
    border-color: #2EC4E6;;
    box-shadow: 0 0 0 3px rgba(0, 196, 180, 0.1);
}
.magic-btn {
    width: 100%;
    padding: 14px;
    background-color: #2EC4E6;;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 20px;
    margin-bottom: 24px;
}
.magic-btn:hover {
    background-color: #2ec4e691;
    
}
.back-link {
    font-size: 14px;
    color: #666;
    
}
.back-link a {
    color: #2EC4E6;;
    text-decoration: none;
    font-weight: 600;
}
.back-link a:hover {
    text-decoration: underline;
}
footer {
    margin-top: 80px;
    font-size: 13px;
    color: #aaa;
}