*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
}

.container{
    background-color: rgb(255, 255, 255);
    height: 100dvh;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 40px 20px;
    border-bottom: 2px solid rgba(243, 243, 243, 0.5);

    p{
        font-size: 40px;
        color:  #2EC4E6;
        font-weight: 700;
        display: flex;

            img{
            background-color: #2EC4E6;
            color: white;
            margin-right: 10px;
            width: 60px;
            padding: 10px;
            border-radius: 10px;
        }
    }


    nav{
        justify-self: center;
        
        ul{
            display: flex;
            list-style-type: none;

            a{
                text-decoration: 0;
                padding: 10px;
                color: black;
            }

            a:hover{
                color:  #2EC4E6;
            }
            .home{
                color:  #2EC4E6;
            }
        }
    }

    div{
        display: flex;
        align-items: center;
        position: relative;

        .fa-search{
            position: absolute;
            left: -10px;
        }

        i{
            padding: 0 20px;
        }

        input{
            height: 40px;
            padding: 20px 0;
            border-radius: 5px;
            width: 235px;
            padding-left: 30px;
            border: 1px solid rgb(228, 226, 226);
        }
        a{
            text-decoration: none;

            img{
            width: 45px;
            border-radius: 50%;
            
            }

            .bell{
                width: 20px;
                margin: 0 25px;
            }
        }
        
    }
}


.sec1{
    display: flex;
}
.sec1-div1{
    width: clamp(140px, 30dvw ,300px);
    border: 2px solid rgba(228, 226, 226, 0.562);

    ul{
        margin-top: 50px;

        .home2{
            background-color:  rgb(228, 226, 226);
        }

        a{
                text-decoration: none;
                color: black;

                li{
                    border-radius: 5px;
                    padding: 10px 10px;
                    margin: 0 5px;
                    text-decoration: none;
                    color: black;
                    display: flex;

                    img{
                        width: 30px;
                        padding-right: 5px;
                    }
                }
                li:hover{
                    background-color:  rgba(228, 226, 226, 0.5);
                }
                
        }
    }

}

.sec1-div2{
    width: 100dvw;
    background-color: lab(87.94% -1.14 -10.38);
    text-align:center;
    padding:none;
    padding-top: 40px;
    padding-bottom: 40px;
    margin:20px;
    border-radius: 10px;
    .h1{
        font-size:2px;
    }
    .nav-btn{
        background-color: #007aff; 
        color:white;
        border: 5px;
        padding:10px;
        border-radius: 20px;
        cursor: pointer;
    }
}
 .featured{
    width:auto;
    text-align: left;
    margin-bottom: 5px;
 }

 .display-grid{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
gap:24px;
margin-top: 16px;
 }
 .article-card{
    background:#fff;
    border-radius: 12px;
    overflow: hidden;
    padding-bottom: 16px;
 }
 .article-card img{
    width:100%;
    height:150px;
    object-fit: cover;
 }
 .article-card h3{
    padding: 12px 16px 0 16px;
    font-size: 16px;
 }
 .article card p{
    padding: 0 16px;
    color:darkgray ;
    font-size: 14px; 
 }
 .btn{
    background-color: lightgray; 
        color:white;
        border: 5px;
        padding:10px;
        border-radius: 20px;
        cursor: pointer;
 }
footer{
    display: flex;
    justify-content: space-between;
    padding: 10px 10dvw;

    ul{
        display: flex;
        list-style-type: none;
        
        a{
            text-decoration: none;
            color: black;
            padding: 10px;

            img{
                width: 20px;
            }
        }

    }
}