*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
}


body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.container{
    width: 100%;
    max-width: 420px;
    border: 1px solid  solid rgba(243, 243, 243, 0.546);
    border-radius: 5px ;
    padding: 10px;
    
    a{
        text-decoration: none;
    }
}
.logo {
    margin-bottom: 48px;
    display: flex;
    justify-content: center;
    align-items: center; 

    img {
            background-color: #2EC4E6;
            color: white;
            margin-right: 10px;
            width: 40px;
            padding: 10px;
            border-radius: 10px;
        }

     p {
        font-size: 28px;
        color: #2EC4E6;
        font-weight: 700;      
    }
}


.header h1{ 
  font-size: 40px; 
  line-height: 32px; 
  font-weight: 700px; 
  text-align: center;
  color: #2EC4E6 ;
}

.header p{ 
   
  font-size: 20px; 
  line-height: 40px; 
  font-weight: 400px; 
  color: #565D6DFF; 
  text-align: center;
}

form{
    display: flex;
    flex-direction:column ;
    margin: 20px;
}
 
form label{
    margin: 2px;
}
form input {
  border-radius: 6px; 
  border-width: 1px; 
  border-color: #DEE1E6FF; 
  border-style: solid;
  width:100%; 
  height: 45px;
  padding: 0 12px;
  font-size: 14px;
  font-weight:400;
}
form > a{
       
    text-align:center;
    color: white;
    font-weight:900;
    border-radius: 6px; 

   

    }
 .login-btn{
  height: 45px;
  border-radius: 6px;
  font-weight: 600;
  line-height: 22px;
  cursor: pointer;
  color: white;
  background-color: #2EC4E6 ;
  width: 100%;
}
.login-btn:hover{
    background-color: #2ec4e6b5;
}




.footer{
  align-items: center;
   display: flex;
    flex-direction:column ; 
    margin-top: 40px;
}

.footer h5{
    color: #2EC4E6 ;
}

a {
    text-decoration: none;
    color: #2EC4E6;
}