*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
}


body{
    font-family: open sans;
   
}

.container{
    width: 28%; 
    margin: 100px auto; 
     border: 1px solid rgba(243, 243, 243, 0.5);
     border-radius: 5px;
     padding: 10px;
    a{
        text-decoration: none;
    }
}

.header h1{  
  font-family: Merriweather Sans; 
  font-size: 40px; 
  line-height: 32px; 
  font-weight: 700px; 
  color: #171A1FFF;
  text-align: center;
}

.header p{ 
  font-family: Open Sans; 
  font-size: 20px; 
  line-height: 40px; 
  font-weight: 400px; 
  color: #565D6DFF; 
  text-align: center;
}

form{
    display: flex;
    flex-direction:column ;
    margin: 20px;
}
 
form label{
    margin: 2px;
}
form input {
  border-radius: 6px; 
  border-width: 1px; 
  border-color: #DEE1E6FF; 
  border-style: solid;
  width:100%; 
  height: 45px; 
  padding-left: 12px; 
  padding-right: 12px; 
  font-family: Open Sans; 
  font-size: 14px; 
  line-height: 22px; 
  font-weight:400;
}

form button{
    border-radius: 6px; 
  border-width: 1px;
  border-style: solid;
  width: 100%;
  height: 45px; 
  font-family: Open Sans; 
  font-size: 14px; 
  line-height: 22px; 
  font-weight:400;
   background-color: #179FBDFF;
    a{
       
        padding: 12px 140px;
        /* width:100%; */
        color: white;
        background-color:  #179FBDFF;;
   

    }
}

.footer{
  align-items: center;
   display: flex;
    flex-direction:column ;
    margin: 20px; 
    margin-top: 40px;
}

.footer h5{
    color: #179FBDFF ;
}