*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
}

.container{
    background-color: rgb(255, 255, 255);
    height: 100dvh;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 40px 20px;
    border-bottom: 2px solid rgba(243, 243, 243, 0.5);

    p{
        font-size: 40px;
        color:  #2EC4E6;
        font-weight: 700;
        display: flex;

            img{
            background-color: #2EC4E6;
            color: white;
            margin-right: 10px;
            width: 60px;
            padding: 10px;
            border-radius: 10px;
        }
    }

    nav{
        justify-self: center;
        
        ul{
            display: flex;
            list-style-type: none;

            a{
                text-decoration: 0;
                padding: 10px;
                color: black;
            }

            a:hover{
                color:  #2EC4E6;
            }
            .home{
                color:  #2EC4E6;
            }
        }
    }

    div{
        display: flex;
        align-items: center;
        position: relative;

        .fa-search{
            position: absolute;
            left: -10px;
        }

        i{
            padding: 0 20px;
        }

        input{
            height: 40px;
            padding: 20px 0;
            border-radius: 5px;
            width: 235px;
            padding-left: 30px;
            border: 1px solid rgb(228, 226, 226);
        }
        
        a{
            text-decoration: none;

            img{
            width: 45px;
            border-radius: 50%;
            
            }

            .bell{
                width: 20px;
                margin: 0 25px;
            }
        }
    }
}


.sec1{
    display: flex;
}
.sec1-div1{
    width: clamp(140px, 30dvw ,300px);
    border: 2px solid rgba(228, 226, 226, 0.562);

    ul{
        .article{
            background-color:  rgb(228, 226, 226);
        }

        a{
                text-decoration: none;
                color: black;

                li{
                    border-radius: 5px;
                    padding: 10px 10px;
                    margin: 0 5px;
                    text-decoration: none;
                    color: black;
                    display: flex;

                    img{
                        width: 30px;
                        padding-right: 5px;
                    }
                }
                li:hover{
                    background-color:  rgba(228, 226, 226, 0.5);
                }
                
        }
    }
}
.sec1-div2{
    width: 100dvw; 
    justify-content: center;  
    align-items: center;
    display: flex;
}

.main-content{
    padding: 10px;
    border: 1px solid rgba(243, 243, 243, 0.712);
    display: flex;
    align-items: center;
     justify-content: center;
     flex-direction: column;

    .second-content{
        border-bottom:  1px solid rgba(243, 243, 243, 0.171);
        padding: 15px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
       


        i{
            font-size: 25px;
            width: 12.5%;
            
        }
    }
    
    
    .content1{
     width: 40%;
       border:  1px solid rgba(243, 243, 243, 0.171);
    }



    .thirdcontent{
       width: 60%;
       border: 1px solid rgba(243, 243, 243, 0.171);
       height: 229px;
       background-color: white;
       border-radius: 10px;
       

       .tag{
        display: flex;
        align-items: center;
       }

       .function{
        display: flex;
        align-items: center;
       }
       .bent{
        display: flex;
        align-items: center;
       
        .preview{
          width: 50px;
          height: 10px;
          border-radius: square;
          background-color: grey;
        }
        .preview-of{
            width: 50%;
            border-radius: 50%;
            background-color: white;
        }
       }
    } 
    
    
    h3{
        
        padding-top: 20px;

    }


}


footer{
    display: flex;
    justify-content: space-between;
    padding: 10px 10dvw;

    ul{
        display: flex;
        list-style-type: none;
        
        a{
            text-decoration: none;
            color: black;
            padding: 10px;

            img{
                width: 20px;
            }
        }

    }
}
