*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif;
}

.container{
    background-color: rgb(255, 255, 255);
    height: 100dvh;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 40px 20px;
    border-bottom: 2px solid rgba(243, 243, 243, 0.5);

        .logo {
    color: #2EC4E6;
    display: flex;
    align-items: center;


    img {
            background-color: #2EC4E6;
            color: white;
            margin-right: 10px;
            width: 40px;
            padding: 10px;
            border-radius: 10px;
        }

     p {
        font-size: 28px;
        color: #2EC4E6;
        font-weight: 700;        
    }
}


    nav{
        justify-self: center;
        
        ul{
            display: flex;
            list-style-type: none;

            a{
                text-decoration: 0;
                padding: 10px;
                color: black;
            }

            a:hover{
                color:  #2EC4E6;
            }
            .write{
                color:  #2EC4E6;
            }
        }
    }

    div{
        display: flex;
        align-items: center;
        position: relative;

        .fa-search{
            position: absolute;
            left: -10px;
        }

        i{
            padding: 0 20px;
        }

        input{
            height: 40px;
            padding: 20px 0;
            border-radius: 5px;
            width: 235px;
            padding-left: 30px;
            border: 1px solid rgb(228, 226, 226);
        }
        
        a{
            text-decoration: none;

            img{
            width: 45px;
            border-radius: 50%;
            
            }

            .bell{
                width: 20px;
                margin: 0 25px;
            }
        }
    }
}


.wholebody{
    display: flex;
}
.leftside-nav{
    width: 20%;
    border: 2px solid rgba(228, 226, 226, 0.562);

    ul{
        .article{
            background-color:  rgb(228, 226, 226);
            color: black;
        }

        a{
                text-decoration: none;

                li{
                    border-radius: 5px;
                    padding: 10px 10px;
                    margin: 0 5px;
                    text-decoration: none;
                    color: #666;
                    display: flex;

                    img{
                        width: 30px;
                        padding-right: 5px;
                    }
                }
                li:hover{
                    background-color:  rgba(228, 226, 226, 0.5);
                    color: black;
                }
                
        }
    }
}
.content-area{
    width: 100dvw; 
    justify-content: center;  
    align-items: center;
    display: flex;
     width: 80%;
    margin: 20px;
}

.main-content{
    padding: 10px;
    border: 1px solid rgba(243, 243, 243, 0.712);
    display: flex;
    align-items: center;
     justify-content: center;
     flex-direction: column;

    .second-content{
        border-bottom:  1px solid rgba(243, 243, 243, 0.171);
        padding: 15px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
       


        svg{
            font-size: 25px;
            width: 12.5%;
            
        }
    }
    
    
    .content1{
     width: 40%;
       border:  1px solid rgba(243, 243, 243, 0.171);
    }



   body {
    background: #ffffff;
    font-family: Arial, sans-serif;
}

.box {
    border: 3px solid  rgba(243, 243, 243, 0.712);;
    padding: 20px;
    width: 900px;
    margin: 40px auto;
    border-radius: 4px;
   
}

.row1{
    display: flex;
    align-items: center;
    gap: 8%;
    flex-wrap: wrap;
}

.row2{
     display: flex;
    align-items: center;
    gap: 8%;
    border-bottom:3px solid  rgba(243, 243, 243, 0.712);
}



.label{
    font-weight: bold;
   display: block; ;
    margin-bottom: 6px;
    font-size: 15px;
}



.tags {
    display: flex;
    flex-direction: row ;
    gap: 10px;
    align-items: center;
}

.tag {
    background: #f2f2f2;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
}

.tag-input {
    padding: 7px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.add-btn {
    padding: 7px 16px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;

}

.category {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 200px;
    line-height: 50%;
}


.bottom {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
}

.draft {
    background: #e1f8f6;
    padding: 6px 12px;
    border-radius: 20px;
    color: #4d7c7a;
    font-size: 14px;
}

.saved {
    color: #777;
    font-size: 14px;
}


.switch {
    position: relative;
    width: 48px;
    height: 22px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    background: #ccc;
    border-radius: 30px;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    transition: .3s;
}

.slider:before {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    background: white;
    border-radius: 50%;
    transition: .3s;
}

input:checked + .slider {
    background: #6f4ef6;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.preview {
    color: #555;
}


.save, .archive, .publish {
    padding: 8px 18px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.save {
    background: white;
    border: 1px solid #ccc;
}

.archive {
    background: #cc3d3d;
    color: white;
}

.publish {
    background: #00b4e3;
    color: white;
}
    
    
    h3{
        
        padding-top: 20px;

    }


}


footer{
    display: flex;
    justify-content: space-between;
    padding: 10px 10dvw;

    ul{
        display: flex;
        list-style-type: none;
        
        a{
            text-decoration: none;
            color: black;
            padding: 10px;

            img{
                width: 20px;
            }
        }

    }
}
